body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2b283a;
  margin: 0;
}

/* Typography */

h1,
h3 {
  margin: 0;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
}

p {
  line-height: 23px;
}

/* Links */

a {
  color: #ef5839;
  text-decoration: none;
}

a:hover,
a:active {
  color: #d4b44c;
}

.btn {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  margin: 10px;
  display: inline-block;
}

.btn:hover {
  background-color: #f3e885;
  color: #2b283a;
}

.btn-dark {
  background-color: #5f29a3;
  color: whitesmoke;
}

.btn-mid,
.btn-light {
  color: #5f29a3;
}
.btn-mid {
  background-color: #f0e0ff;
}

.btn-light {
  background-color: whitesmoke;
}

/* Layout  */

header,
.section-two {
  background-color: #5f29a3;
}

header,
section,
footer {
  padding: 45px 0;
}

.section-two {
  color: whitesmoke;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.main-image {
  width: 100%;
}

.feature-image {
  width: 300px;
  border-radius: 4.6px;
}

.section-two-image-container {
  display: flex;
  justify-content: space-between;
}

footer {
  color: #5f29a3;
  text-align: center;
}
